.container{
    height: 400px;
    flex-wrap: wrap;
}

.flex-start .item,
.flex-end .item,
.flex-center .item,
.strech .item{
    flex: 1;
}

.flex-start{
    align-content: flex-start;
}

.flex-end{
    align-content: flex-end;
}

.flex-center{
    align-content: center;
}

.strech{
    align-content: stretch;
}

.space-between{
    align-content: space-between;
}


.space-around{
    align-content: space-around;
}

.evenly{
    align-content: space-evenly;
}






