*{
    margin: 20px;
}


img {
    width: 150px;
}


img.scale {
    margin: 57px;
    transform: scale(2);
}

.scale-Y{
    transform: scaleY(2);
}

.rotate{
    transform: rotate(50deg);

}

.rotate-x{
    transform: rotatey(69deg);
}


.translate{
    transform: translate(199px );
}



