.conteiner .item {
    width: 100px;
    height: 100px;
    font-size: 50px;
    margin: 10px;
    background-color: aqua;
}

.conteiner.direction {
    display: flex;
    flex-direction: column-reverse;
}

.conteiner.wrap {
    display: flex;
    flex-wrap: wrap-reverse;
}

.conteiner.flow {
    display: flex;
    flex-flow: column-reverse;
}